<h1>タスク一覧</h1>
<ul>
<% @tasks.each do |task|%>
  <li><%= link_to "#{task.id}番目のタスク", task_path(id: task.id) %>---- <%= "#{task.content}" %></li>
<%end%>
</ul>

<%= link_to "新しいタスクを登録する", new_task_path %>